In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('survey_results_public.csv')
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [49]:
df.shape

(73268, 79)

supprimer les noms trop longs ou avec des caractères spéciaux

In [50]:
df['EdLevel'] = df['EdLevel'].replace(to_replace="Master’s degree (M.A., M.S., M.Eng., MBA, etc.)", value='Master')
df['EdLevel'] = df['EdLevel'].replace(to_replace="Bachelor’s degree (B.A., B.S., B.Eng., etc.)", value='Bachelor')
df['LanguageHaveWorkedWith'] = df['LanguageHaveWorkedWith'].replace(to_replace="C\+\+", value='Cpp', regex=True)

extraire les bonnes données

In [51]:
def filter(df, column, filters):
    return df[df[column].isin(filters)]

In [52]:
countries = [
    'United States of America',
    'Switzerland',
    'United Kingdom of Great Britain and Northern Ireland',
    'France',
    'Germany',
    'Netherlands',
    'Spain',
    'Italy',
    'Austria',
    'Italy',
    'Canada',
    'Ireland',
    'Sweden',
    'Norway',
    'Australia',
    'Denmark'
]

#entrées : âge, type de dev (poste), formation, (taux d’activité, taille d'entreprise, home office)
#sorties : salaire, tech connues (à préciser le type : langage / database / framework), nombre d’années d’expériences

selected_columns = [
    # inputs
    'EdLevel','DevType','Employment','Age',
    # outputs
    'CompTotal',
    'YearsCodePro',
    'LanguageHaveWorkedWith',
    'DatabaseHaveWorkedWith',
    'PlatformHaveWorkedWith',
    'WebframeHaveWorkedWith',
    'MiscTechHaveWorkedWith',
    'ToolsTechHaveWorkedWith',
    'NEWCollabToolsHaveWorkedWith',
]

supprimer les NaN dans les colonnes categoriques

In [53]:
df[selected_columns[6:]] = df[selected_columns[6:]].fillna('None')

In [54]:
tech_values = {col: df[col].str.split(';').explode().unique().tolist() for col in selected_columns[6:]}
for k in tech_values.keys():
    tech_values[k].remove('None')
tech_values

{'LanguageHaveWorkedWith': ['JavaScript',
  'TypeScript',
  'C#',
  'Cpp',
  'HTML/CSS',
  'Python',
  'SQL',
  'Swift',
  'Lua',
  'PHP',
  'C',
  'Java',
  'Delphi',
  'Bash/Shell',
  'PowerShell',
  'Rust',
  'Elixir',
  'Erlang',
  'Ruby',
  'R',
  'Scala',
  'VBA',
  'Dart',
  'Go',
  'Kotlin',
  'Groovy',
  'MATLAB',
  'Perl',
  'Haskell',
  'Julia',
  'LISP',
  'Assembly',
  'F#',
  'Clojure',
  'APL',
  'Crystal',
  'Fortran',
  'Objective-C',
  'SAS',
  'OCaml',
  'Solidity',
  'COBOL'],
 'DatabaseHaveWorkedWith': ['Microsoft SQL Server',
  'Cloud Firestore',
  'Elasticsearch',
  'Firebase Realtime Database',
  'MongoDB',
  'MySQL',
  'Couchbase',
  'CouchDB',
  'PostgreSQL',
  'Redis',
  'DynamoDB',
  'Neo4j',
  'SQLite',
  'Cassandra',
  'MariaDB',
  'Oracle',
  'IBM DB2'],
 'PlatformHaveWorkedWith': ['Firebase',
  'Microsoft Azure',
  'AWS',
  'Google Cloud',
  'Heroku',
  'DigitalOcean',
  'VMware',
  'OVH',
  'Linode',
  'Managed Hosting',
  'IBM Cloud or Watson',
  'Oracle Cloud Infrastructure',
  'OpenStack',
  'Colocation'],
 'WebframeHaveWorkedWith': ['Angular.js',
  'ASP.NET',
  'ASP.NET Core ',
  'Angular',
  'jQuery',
  'Node.js',
  'Next.js',
  'React.js',
  'Svelte',
  'Vue.js',
  'Express',
  'Phoenix',
  'Ruby on Rails',
  'Django',
  'Flask',
  'Laravel',
  'FastAPI',
  'Gatsby',
  'Nuxt.js',
  'Drupal',
  'Symfony',
  'Blazor',
  'Fastify',
  'Deno',
  'Play Framework'],
 'MiscTechHaveWorkedWith': ['Pandas',
  '.NET',
  'Keras',
  'NumPy',
  'Scikit-learn',
  'TensorFlow',
  'Torch/PyTorch',
  'Hugging Face Transformers',
  'Apache Kafka',
  'Apache Spark',
  'Tidyverse',
  'Electron',
  'React Native',
  'Spring',
  'Flutter',
  'Qt',
  'Xamarin',
  'Capacitor',
  'Cordova',
  'Ionic',
  'Hadoop',
  'GTK',
  'Uno Platform'],
 'ToolsTechHaveWorkedWith': ['npm',
  'Homebrew',
  'Docker',
  'Terraform',
  'Kubernetes',
  'Yarn',
  'Ansible',
  'Unity 3D',
  'Puppet',
  'Flow',
  'Unreal Engine',
  'Chef',
  'Pulumi'],
 'NEWCollabToolsHaveWorkedWith': ['Notepad++',
  'Visual Studio',
  'Visual Studio Code',
  'Xcode',
  'Atom',
  'IntelliJ',
  'PyCharm',
  'Sublime Text',
  'CLion',
  'Eclipse',
  'Emacs',
  'Android Studio',
  'RAD Studio (Delphi, C++ Builder)',
  'Rider',
  'IPython/Jupyter',
  'Neovim',
  'Vim',
  'Nano',
  'RStudio',
  'NetBeans',
  'PhpStorm',
  'Webstorm',
  'GoLand',
  'RubyMine',
  'Spyder',
  'Qt Creator',
  'TextMate']}

In [55]:
df.dropna()
df.shape

(73268, 79)

In [56]:
def filter_multicat(df : pd.DataFrame, column, filter) -> pd.DataFrame:
    return df[df[column].str.contains(filter)]

In [57]:
country_filter = filter(df, 'Country', countries)
# Filter the data to only keep profesionnal developers
df_filtered = filter_multicat(country_filter,'MainBranch',"I am a developer by profession")
print(df_filtered.shape)

(29061, 79)

In [58]:
df_filtered = df_filtered[selected_columns]

print(df_filtered.shape)

(29061, 13)

In [59]:
df_filtered.head()

,EdLevel,DevType,Employment,Age,CompTotal,YearsCodePro,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,MiscTechHaveWorkedWith,ToolsTechHaveWorkedWith,NEWCollabToolsHaveWorkedWith
1,NaN,NaN,"Employed, full-time",NaN,NaN,NaN,JavaScript;TypeScript,None,None,None,None,None,None
4,Bachelor,"Developer, front-end;Developer, full-stack;Dev...","Employed, full-time",25-34 years old,NaN,3,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,.NET,npm,Notepad++;Visual Studio;Visual Studio Code;Xcode
8,Master,"Developer, back-end","Employed, full-time",25-34 years old,46000.0,6,None,None,None,None,None,None,Emacs;Notepad++
10,Bachelor,"Developer, full-stack;Developer, back-end","Employed, full-time",18-24 years old,48000.0,2,Bash/Shell;C#;HTML/CSS;JavaScript;PowerShell;SQL,Microsoft SQL Server,AWS;Microsoft Azure,ASP.NET;ASP.NET Core ;Vue.js,.NET,Docker;npm;Terraform,Rider;Visual Studio;Visual Studio Code
12,Bachelor,"Developer, full-stack","Employed, full-time",25-34 years old,65000.0,5,C;HTML/CSS;Rust;SQL;Swift;TypeScript,PostgreSQL,AWS,React.js,Torch/PyTorch,Docker,Vim;Visual Studio

In [60]:
df_filtered = df_filtered.dropna()
df_filtered.shape

(21076, 13)

filtrer les entrées

In [61]:
DevType = [
    'Developer, full-stack',
    'Academic researcher',
    'DevOps specialist',
    'Developer, back-end',
    'Developer, desktop or enterprise applications',
    'Developer, embedded applications or devices',
    'Developer, game or graphics',
    'Developer, front-end',
    'Engineer, data',
    'Developer, QA or test',
    'Developer, mobile',
    'Database administrator',
    'Cloud infrastructure engineer',
    'Data or business analyst',
    'Designer',
    'Marketing or sales professional',
    'Data scientist or machine learning specialist',
    'Security professional',
    'Project manager',
    'Senior Executive (C-Suite, VP, etc.)',
    'Engineering manager',
    'System administrator',
    'Scientist',
    'Product manager',
    'Engineer, site reliability',
    'Educator',
    'Other (please specify):',
    'Blockchain',
    'Student'
]

Employment = [
    'Employed, full-time',
    'Student, full-time',
    'Student, part-time',
    'Not employed, but looking for work',
    'Independent contractor, freelancer, or self-employed',
    'Employed, part-time',
    'Not employed, and not looking for work',
    'Retired',
    'I prefer not to say',
]

EdLevel = [
    "Master",
    "Bachelor",
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
    'Some college/university study without earning a degree',
    'Something else',
    'Primary/elementary school',
    'Other doctoral degree (Ph.D., Ed.D., etc.)',
    'Associate degree (A.A., A.S., etc.)',
    'Professional degree (JD, MD, etc.)'
]

Age = [
    'Under 18 years old',
    '18-24 years old',
    '25-34 years old',
    '35-44 years old',
    '45-54 years old',
    '55-64 years old',
    '65 years or older',
    'Prefer not to say'
]

pour chacune des entrées, tester nombre de lignes qui contient cette entrée et ne garder dans les choix que les colonnes qui contiennent cette entrée

In [62]:
def countLinesByCategory(data, col_name, col_categories):
    return {cat:filter_multicat(data,col_name,cat).shape[0] for cat in col_categories}

In [63]:
def testColumnCategories(df, col_name, col_categories: list):
    res = countLinesByCategory(df, col_name, col_categories)

    for cat in res.keys():
        if res[cat] == 0:
            col_categories.remove(cat)

testColumnCategories(df_filtered, 'DevType', DevType)
testColumnCategories(df_filtered, 'EdLevel', EdLevel)
testColumnCategories(df_filtered, 'Employment', Employment)
testColumnCategories(df_filtered, 'Age', Age)

C:\Users\AnneSo\AppData\Local\Temp\ipykernel_5352\4175930426.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  return df[df[column].str.contains(filter)]

In [64]:
df_filtered.columns

Index(['EdLevel', 'DevType', 'Employment', 'Age', 'CompTotal', 'YearsCodePro',
       'LanguageHaveWorkedWith', 'DatabaseHaveWorkedWith',
       'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith',
       'MiscTechHaveWorkedWith', 'ToolsTechHaveWorkedWith',
       'NEWCollabToolsHaveWorkedWith'],
      dtype='object')

récupérer les sorties à partir des entrées

In [73]:
def aggregate(data, outputName):
    output = {'techs':tech_values[outputName], 'CompTotal':[], 'YearsCodePro':[] }
    for tech_type in output['techs']:
        #print(tech_type)
        df = filter_multicat(data, outputName, tech_type)
        output['CompTotal'].append(df['CompTotal'].median())
        output['YearsCodePro'].append(df['YearsCodePro'].median())
    return pd.DataFrame(output)

In [74]:
def getOutput(data, devType, edLevel, employment, age, outputName):
    df = data
    df = filter_multicat(df,'DevType',devType)
    df = filter_multicat(df,'EdLevel',edLevel)
    df = filter_multicat(df,'Employment',employment)
    df = filter_multicat(df,'Age', age)
    # il faut calculer salaire moyen et nb années exp moyen
    return aggregate(df, outputName)

In [76]:
a = getOutput(df_filtered, 'Developer, game or graphics', "Master", 'Employed, full-time', '25-34 years old', 'LanguageHaveWorkedWith')
a.dropna()

          techs  CompTotal  YearsCodePro
0    JavaScript    45000.0           6.0
1    TypeScript    50500.0           6.0
2            C#    54000.0           5.5
3           Cpp    50000.0           5.0
4      HTML/CSS    42000.0           6.0
5        Python    52000.0           6.0
6           SQL    52000.0           6.0
7         Swift    58000.0           7.0
8           Lua    73500.0           9.0
9           PHP    42000.0           7.0
10            C    46500.0           5.0
11         Java    47000.0           6.0
13   Bash/Shell    55000.0           6.5
14   PowerShell    56550.0           6.5
15         Rust    39000.0           6.0
16       Elixir    39000.0           8.0
17       Erlang   200000.0          10.0
18         Ruby    62000.0           8.0
19            R    43800.0           8.0
20        Scala    33400.0           6.0
21          VBA    61500.0           8.0
22         Dart    40000.0           6.0
23           Go    58500.0           9.0
24       Kotlin    60000.0           8.0
25       Groovy    29900.0           6.5
26       MATLAB     5900.0           7.0
27         Perl    61500.0           8.0
28      Haskell   103400.0           9.0
29        Julia     3500.0           4.0
30         LISP    82000.0          11.0
31     Assembly    70000.0           9.5
32           F#    52000.0           7.0
34          APL        0.0          30.0
37  Objective-C    64000.0           8.0
39        OCaml     6800.0           8.0

test d'affichage

In [ ]:
import plotly.express as px